/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

/* Updates by Bobby */
@media screen and (max-width: 750px) {
  #top-bar { display: none; }
  #header-wrap { background:rgba(255,255,255,0.75);
  #primary-menu-trigger { width:80px; }
  #primary-menu a, #primary-menu .current a { color:#FFF!important; }
  #logo a.retina-logo { display:inline-block; }
    #logo a.retina-logo img { display:inline-block; height:100px!important; }
  #page-title { padding: 320px 0 120px; }
}

 @media screen and (min-width: 751px) {
  #top-bar { display: block; }
  #header-wrap { background:transparent;
  #primary-menu-trigger { width:auto; }
  #primary-menu a, #primary-menu .current a { color:inherit!important; }
  #logo a.retina-logo { display:block!important; }
    #logo a.retina-logo img { display:block!important; height:auto!important; }
  #page-title { padding: 160px 0; }
}


